<h1>signin</h1>

<form action="user/create_session" method="POST">
   
    <input type="email" name="email" placeholder="Enter email" required>
    <input type="password" name="password" placeholder="password" required>
    <button type="submit">submit</button>
</form>